/*************

GENERAL/NAV

************/

html, body {
    background-color: #16db4b;
}

main h1 {
    margin-top: 1.5em;
}

h1 {
    font-size: 4.6em;
}

.navbar-dark .navbar-toggler {
    color: black;
}

div#navbarNav.navbar-collapse.text-center.collapse.show {
    margin-top: 10px;
}

nav ul li a {
    font-size: 2em;
}

nav ul li {
    padding: 0 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

#emailMe button {
    display: block;
    width: 100%;
}

#emailMe button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 125%;
    padding-left: 5px;
}

#emailMe button:hover, #emailMe button a:hover {
    text-decoration: underline;
}

#emailMe button i {
    margin: 20px 0; 
}


/*********** 

ABOUT/FAQ

************/





/*********** 

PROJECTS

************/






/*********** 

FOOTER

************/

#desktopFooter {
    background-color: black;
    color: #16db4b;
}

#desktopFooter #socialMedia #twitterLink a,
#desktopFooter #socialMedia #instagramLink a,
#desktopFooter #socialMedia #linkedInLink a {
    display: block;
}

#socialMedia #instagramLink i {
    color: #8a3ab9;
}



/*end*/




